<!DOCTYPE HTML>
<html>
    <head>
        <title>Création 2017: La Grèce antique contre la Grèce moderne, l'Europe.</title>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="description" content="" />
        <meta name="keywords" content="" />


        <!-- Les CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ asset('bundles/theatre/css/css.css') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/theatre/css/reservation.css') }}" />
        <!--[if lte IE 8]><link rel="stylesheet" href="{{ asset('bundles/theatre/css/ie/v8.css') }}" /><![endif]-->
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
        {#        <noscript>#}
        <link rel="stylesheet" href="{{ asset('bundles/theatre/css/skel.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/theatre/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/theatre/css/style-desktop.css') }}">
        <link rel="stylesheet" href="{{ asset('bundles/theatre/css/style-wide.css') }}">
        {#        </noscript>#}


        <!-- Les scripts -->
        <!--[if lte IE 8]><script src="{{ asset('bundles/theatre/css/ie/html5shiv.js') }}"></script><![endif]-->
        <script src="https://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
        <script src="{{ asset('bundles/theatre/js/skel.min.js') }}"></script>
        <script src="{{ asset('bundles/theatre/js/skel-layers.min.js') }}"></script>
        <script src="{{ asset('bundles/theatre/js/init.js') }}"></script>
        <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
        <script src="{{ asset('bundles/theatre/langs/fr_FR.js') }}"></script>
        <script src="{{ asset('bundles/theatre/js/tinymce/tinymce.min.js') }}"></script>
        <script src="{{ asset('bundles/theatre/js/jquery.rwdImageMaps.js') }}"></script>
        <script src="{{ asset('bundles/theatre/js/jquery.maphilight.js') }}"></script>
        <script src="{{ asset('bundles/theatre/js/demarrage/tiny.js') }}"></script>
        <script src="{{ asset('bundles/theatre/js/demarrage/datePicker.js') }}"></script>
        <script src="{{ asset('bundles/theatre/js/demarrage/mapResponsive.js') }}"></script>
        <script>
            function resize_iframe()
            {
                var height = window.innerWidth;//Firefox
                if (document.body.clientHeight)
                {
                    height = document.body.clientHeight;//IE
                }
                //resize the iframe according to the size of the
                //window (all these should be on the same line)
                document.getElementById("glu").style.height =
                        parseInt(height - document.getElementById("glu").offsetTop - 8) + "px";
            }

// this will resize the iframe every
// time you change the size of the window.
            window.onresize = resize_iframe;
        </script>


    </head>
    <!--
            Note: Set the body element's class to "left-sidebar" to position the sidebar on the left.
            Set it to "right-sidebar" to, you guessed it, position it on the right.
    -->
    <body class="left-sidebar">
        <!-- Wrapper -->
        <div id="wrapper">

            <!-- Content -->
            <div id="content" class="gris"  >
                <div class="inner">
                    <h2 class="titre1"><span><font size="+3">Création 2017: La Grèce antique contre la Grèce moderne, l'Europe.</font></span></h2>
                    <div class="titre11">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <!-- Pagination -->

                    {% block pagination %}
                    {% endblock %}


                </div>
            </div>

            <!-- Sidebar -->
            <div id="sidebar" class="gris">

                <!-- Logo -->
                <h1 id="logo"><a href="#">Théâtre</a></h1>
                <nav id="nav">
                    <ul>
                        <li {% if path(app.request.attributes.get('_route')) == path('theatre_homepage') %}class="current"{% endif %}><a href="{{ path('theatre_homepage') }}">Événements</a></li>
                        <li {% if path(app.request.attributes.get('_route')) == path('theatre_zeus') %}class="current"{% endif %}><a href="{{ path('theatre_zeus') }}">Zeus</a></li>
                        <li {% if path(app.request.attributes.get('_route')) == path('theatre_billeterie') %}class="current"{% endif %}><a href="{{ path('theatre_billeterie') }}">Billetterie</a></li>
                        <li {% if path(app.request.attributes.get('_route')) == path('theatre_interesse') %}class="current"{% endif %}><a href="{{ path('theatre_interesse') }}">Intéressé?</a></li>
                        <li {% if path(app.request.attributes.get('_route')) == 'album' %}class="current"{% endif %}><a href="{{ path('theatre_album') }}">Album photos</a></li>
                        <li {% if path(app.request.attributes.get('_route')) == path('theatre_contact') %}class="current"{% endif %}><a href="{{ path('theatre_contact') }}">Contact</a></li>
                    </ul>

                    <!-- Nav -->
                    {{ render(controller('theBundle:Default:menu')) }}
                </nav>

            </div>

        </div>
    </body>
</html>