
{% extends "::base.html.twig" %}
{% block content %}
    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('theatre_ajouteArticle') }}"><span class="iconAdd glyphicon glyphicon-plus-sign"></span></a>
        {% endif %}
        {% for article in articles %}
        <article class="box post post-excerpt">
            <header>

                <!--
                        Note: Titles and subtitles will wrap automatically when necessary, so don't worry
                        if they get too long. You can also remove the <p> entirely if you don't
                        need a subtitle.
                -->
                <h2><a href="#">{{article.titre}}</a></h2>
                <p>{{article.description}}</p>
            </header>

            <div class="info">
                {% if article.date|date("m") == '12' %}
                    <span class="date"><span class="month">Déc<span>y</span></span> <span class="day">{{ article.date|date("d")}}<br /><font color="red" size="-0.5" >20{{ article.date|date("y")}}</font></font></span><span class="year">, {{ article.date|date("y")}}</span></span>
                        {% elseif   article.date|date("m") == '1' %}
                    <span class="date"><span class="month">Jan<span>y</span></span> <span class="day">{{ article.date|date("d")}}<br /><font color="red" size="-0.5" >20{{ article.date|date("y")}}</font></span><span class="year">, {{ article.date|date("y")}}</span></span>
                        {% elseif   article.date|date("m") == '2' %}
                    <span class="date"><span class="month">Fév<span>y</span></span> <span class="day">{{ article.date|date("d")}}<br /><font color="red" size="-0.5" >20{{ article.date|date("y")}}</font></span><span class="year">, {{ article.date|date("y")}}</span></span>
                        {% elseif   article.date|date("m") == '3' %}
                    <span class="date"><span class="month">Mar<span>y</span></span> <span class="day">{{ article.date|date("d")}}<br /><font color="red" size="-0.5" >20{{ article.date|date("y")}}</font></span><span class="year">, {{ article.date|date("y")}}</span></span>
                        {% elseif   article.date|date("m") == '4' %}
                    <span class="date"><span class="month">Avr<span>y</span></span> <span class="day">{{ article.date|date("d")}}<br /><font color="red" size="-0.5" >20{{ article.date|date("y")}}</font></span><span class="year">, {{ article.date|date("y")}}</span></span>
                        {% elseif   article.date|date("m") == '5' %}
                    <span class="date"><span class="month">Mai<span>y</span></span> <span class="day">{{ article.date|date("d")}}<br /><font color="red" size="-0.5" >20{{ article.date|date("y")}}</font></span><span class="year">, {{ article.date|date("y")}}</span></span>
                        {% elseif   article.date|date("m") == '6' %}
                    <span class="date"><span class="month">Jui<span>y</span></span> <span class="day">{{ article.date|date("d")}}<br /><font color="red" size="-0.5" >20{{ article.date|date("y")}}</font></span><span class="year">, {{ article.date|date("y")}}</span></span>
                        {% elseif   article.date|date("m") == '7' %}
                    <span class="date"><span class="month">Jui<span>y</span></span> <span class="day">{{ article.date|date("d")}}<br /><font color="red" size="-0.5" >20{{ article.date|date("y")}}</font></span><span class="year">, {{ article.date|date("y")}}</span></span>
                        {% elseif   article.date|date("m") == '8' %}
                    <span class="date"><span class="month">Aoû<span>y</span></span> <span class="day">{{ article.date|date("d")}}<br /><font color="red" size="-0.5" >20{{ article.date|date("y")}}</font></span><span class="year">, {{ article.date|date("y")}}</span></span>
                        {% elseif   article.date|date("m") == '9' %}
                    <span class="date"><span class="month">Sep<span>y</span></span> <span class="day">{{ article.date|date("d")}}<br /><font color="red" size="-0.5" >20{{ article.date|date("y")}}</font></span><span class="year">, {{ article.date|date("y")}}</span></span>
                        {% elseif   article.date|date("m") == '10' %}
                    <span class="date"><span class="month">Oct<span>y</span></span> <span class="day">{{ article.date|date("d")}}<br /><font color="red" size="-0.5" >20{{ article.date|date("y")}}</font></span><span class="year">, {{ article.date|date("y")}}</span></span>
                        {% elseif   article.date|date("m") == '11' %}
                    <span class="date"><span class="month">Nov<span>y</span></span> <span class="day">{{ article.date|date("d")}}<br /><font color="red" size="-0.5" >20{{ article.date|date("y")}}</font></span><span class="year">, {{ article.date|date("y")}}</span></span>

                {% endif %}
            </div>
            {#            <a href="#" class="image featured"><img src="{{ asset('bundles/theatre/images/pic01.jpg') }}" alt="" /></a>#}
            {{article.contenu|raw}}
        </article>
        {% if is_granted('ROLE_ADMIN') %}
            <div class=" col-md-12 icon3"><a href="{{ path('theatre_modifierArticle', {'id': article.id}) }}"><span class="glyphicon glyphicon-pencil icon1"></span></a><a href="{{ path('theatre_effacerArticle', {'id': article.id}) }}"><span class="glyphicon glyphicon-remove-circle icon2"></span></a></div>
                {% endif %}
        <hr class="separation" />
    {% endfor %}

    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}