{% extends "::base.html.twig" %}
{% block content %}
    <h1 class="titreBilleterie">Choisissez votre secteur pour commander des places</h1>
    <div class="scene">
        <span class="sceneText">Scène</span>
    </div>
    <div class="map1">
        <img class="map" src="{{asset('bundles/theatre/css/images/tribune.png')}}" id="tribune" usemap="#m_tribune" width="1024" height="768"/>
        <map name="m_tribune" id="m_tribune">
            <area class="mapping" data-container="body" data-toggle="modal" data-target="#myModalA" data-placement="top" shape="poly" coords="382,223,296,337,772,525,850,391" href="#" alt="" />
            <area class="mapping" data-container="body" data-toggle="modal" data-target="#myModalB" data-placement="top" shape="poly" coords="833,109,985,156,850,391,689,334" href="#" alt="" />
            <area class="mapping" data-container="body" data-toggle="modal" data-target="#myModalC" data-placement="top" shape="poly" coords="675,63,833,110,689,334,530,276" href="#" alt="" />
            <area class="mapping" data-container="body" data-toggle="modal" data-target="#myModalD" data-placement="top" shape="poly" coords="532,19,679,63,531,276,383,222" href="#" alt="" />
        </map>
    </div>
    <!-- Modal -->

    <div class="tribunes">
        {% for nam, secteur in secteurs %}
            <div class="modal fade" id="myModal{{secteur.secteurs}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 class="modal-title" id="myModalLabel">Achat d'entrées pour le théâtre</h2>
                        </div>
                        <div class="modal-body">
                            <h4>Combien d'entrées désirez-vous acheter dans le secteur {{secteur.secteurs}}?</h4>
                            {{ form_start(formulaires[nam+1]) }}
                            {{ form_errors(formulaires[nam+1]) }}


                            {{ form_widget(formulaires[nam+1].quant, {'label': "Quantités"}) }}

                        </div>
                        <div class="modal-footer">
                            {{ form_widget(formulaires[nam+1].ajouterCont, {'label': "Ajouter et continuer les achats"}) }}
                            {{ form_widget(formulaires[nam+1].ajouterRest, {'label': "Ajouter et passer commande"}) }}
                            {{ form_end(formulaires[nam+1]) }} 
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            {#            <button type="button" class="secteur col-md-4 gris " title="<h2>Secteur {{secteur.secteurs}}</h2>"  
                                data-container="body" data-toggle="modal" data-target="#myModal{{secteur.secteurs}}" data-placement="top" 
                                >
                            Secteur {{secteur.secteurs}}
                        </button>#}
        {% endfor %}
    </div>
    <div class="prixSecteur">
        <h2 >Prix des différents secteurs:</h2>
        {% for nam, secteur in secteurs %}

            <b>SECTEUR:</b> {{secteur.secteurs}}: {{secteur.prix}} CHF<br />

        {% endfor %}
    </div>
{% endblock %}


