{% extends "::base.html.twig" %}
{% block content %}
    <h1 class="titreBilleterie">Choisissez votre secteur pour commander des places</h1>
    <div class="scene">
        <span class="sceneText">Scène</span>
    </div>
    <div class="map">
        <img src="{{asset('bundles/theatre/css/images/tribune.png')}}" id="tribune" usemap="#m_tribune" />
        <map name="m_tribune" id="m_tribune">
            <area data-container="body" data-toggle="modal" data-target="#myModalA" data-placement="top"  shape="poly" coords="443,227,347,344,896,536,982,400" href="#" alt="" />
            <area data-container="body" data-toggle="modal" data-target="#myModalB" data-placement="top"  shape="poly" coords="965,113,1141,161,985,400,803,343" href="#" alt="" />
            <area data-container="body" data-toggle="modal" data-target="#myModalC" data-placement="top" shape="poly" coords="785,66,964,113,802,343,617,283" href="#" alt="" />
            <area data-container="body" data-toggle="modal" data-target="#myModalD" data-placement="top" shape="poly" coords="619,19,784,66,612,283,445,228" href="#" alt="" />
        </map>
    </div>
    {#<img id="Image-Maps-Com-image-maps-2014-12-23-195728" src="http://www.image-maps.com/m/private/0/0lhv9qmg5dta92sp2hso9m79r0_tribune.jpg" border="0" width="650" height="464" orgWidth="650" orgHeight="464" usemap="#image-maps-2014-12-23-195728" alt="" />
    <map name="image-maps-2014-12-23-195728" id="ImageMapsCom-image-maps-2014-12-23-195728">
    <area shape="rect" coords="648,462,650,464" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0" />
    <area  alt="" title="" href="http://www.image-maps.com/secteurA" shape="poly" coords="263,67,389,80,320,173,200,161" style="outline:none;" target="_self"     />
    <area  alt="" title="" href="http://www.image-maps.com/SecteurB" shape="poly" coords="384,79,512,91,445,183,319,173" style="outline:none;" target="_self"     />
    </map>
    
    #}
    <!-- Modal -->

    <div class="tribunes">
        {% for nam, secteur in secteurs %}
            <div class="modal fade" id="myModal{{secteur.secteurs}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h2 class="modal-title" id="myModalLabel">Achat d'entrées pour le théâtre</h2>
                        </div>
                        <div class="modal-body">
                            <h4>Combien d'entrées désirez-vous acheter dans le secteur {{secteur.secteurs}}?</h4>
                            {{ form_start(formulaires[nam+1]) }}
                            {{ form_errors(formulaires[nam+1]) }}


                            {{ form_widget(formulaires[nam+1].quant, {'label': "Quantités"}) }}

                        </div>
                        <div class="modal-footer">
                            {{ form_widget(formulaires[nam+1].ajouterCont, {'label': "Ajouter et continuer les achats"}) }}
                            {{ form_widget(formulaires[nam+1].ajouterRest, {'label': "Ajouter et passer commande"}) }}
                            {{ form_end(formulaires[nam+1]) }} 
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Annuler</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

{#            <button type="button" class="secteur col-md-4 gris " title="<h2>Secteur {{secteur.secteurs}}</h2>"  
                    data-container="body" data-toggle="modal" data-target="#myModal{{secteur.secteurs}}" data-placement="top" 
                    >
                Secteur {{secteur.secteurs}}
            </button>#}
        {% endfor %}
    </div>
    <div class="prixSecteur">
        <h2 >Prix des différents secteurs:</h2>
        {% for nam, secteur in secteurs %}

            <b>SECTEUR:</b> {{secteur.secteurs}}: {{secteur.prix}} CHF<br />

        {% endfor %}
    </div>
{% endblock %}


