{% block menu %}
    <nav id="nav">
        <ul>
            <li><a href="{{ path('theatre_homepage') }}">Événements</a></li>
            <li class="current"><a href="{{ path('theatre_billeterie') }}">Billetterie</a></li>
            <li><a href="#"><a href="{{ path('theatre_interesse') }}">Intéressé?</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
        <!-- Search -->
        <section class="box"> 
            {% if app.user %}
                <a class="btn btn-primary col-md-12" href="{{ path('fos_user_profile_edit') }}">Mon profil</a>
                <a class="btn btn-success col-md-12" href="{{ path('user_logout') }}">Déconnexion</a>
            {% else %}
                <form action="{{ path("fos_user_security_check") }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />
                    <label for="username"><font color="white">Nom d'utilisateur:</font></label>
                    <input type="text" id="username" name="_username" value="" required="required" />

                    <label for="password"><font color="white">Mot de passe:</font></label>
                    <input type="password" id="password" name="_password" required="required" />
                    <label class="remeber" for="remember_me"><font color="white">Se souvenir de moi:</font></label>
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" /><br />
                    <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié ?</a>
                    <input class="btn btn-success col-md-12" type="submit" id="_submit" name="_submit" value="Connexion" />
                </form>
                {% endif %}

                </section>
                
            </nav>
            {% endblock %}